In [13]:
import pandas as pd
import pymysql
import pandas as pd
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

df_price = pd.read_csv("price_2.csv")

engine = create_engine("mysql+mysqldb://root:"+"123123"+"@localhost/gidseller", encoding='utf-8')
conn = engine.connect()

In [14]:
df_price.to_sql(name='price', con=engine, if_exists='append', index=False)

    model_code                              price
0        A2221     SKT:859100|KT:990000|LG:990000
1        A2215  SKT:1174800|KT:1375000|LG:1375000
2        A2218  SKT:1328800|KT:1529000|LG:1529000
3        A2097   SKT:940500|KT:1562000|LG:1562000
4        A2101    SKT:990000|KT:990000|LG:1705000
..         ...                                ...
253   LG-SU880                                 \N
254    LM-Q720     SKT:419100|KT:419100|LG:419100
255    Nexus S                                 \N
256   SHW-M220                                 \N
257    SM-F916  SKT:2398000|KT:2398000|LG:2398000

[258 rows x 2 columns]