In [1]:
import pandas as pd

In [46]:
csv_test = pd.read_csv('111.csv',  encoding='cp949')

In [47]:
for index in range(1,a):
    csv_test.iloc[index] = csv_test.iloc[index].replace("\n", "")

In [48]:
csv_test.to_csv('file.csv',encoding='utf-8-sig')

In [50]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.DataFrame({'second':[5,6,7,8,9],
                   'first':['ne', 'da', 'ne', 'da', 'da'],
                   'third':[213,151,16,641,64]})
print(df)
db_uri = 'sqlite:///file.db'
engine = create_engine(db_uri, echo=False)

   second first  third
0       5    ne    213
1       6    da    151
2       7    ne     16
3       8    da    641
4       9    da     64

Engine(sqlite:///file.db)

In [52]:
sample_sql_database = df.to_sql('sample_database', con=engine)

In [54]:
sample_sql_database

In [55]:
sample_sql_database = engine.execute("SELECT * FROM sample_database").fetchall()

In [56]:
print(sample_sql_database)

[(0, 5, 'ne', 213), (1, 6, 'da', 151), (2, 7, 'ne', 16), (3, 8, 'da', 641), (4, 9, 'da', 64)]